* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ----------header part start----------------- */

.header {
    background-image: url(../images/donation13.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}

.header h2 {
    color: white;
    font-size: 30px;
}

.header p {
    color: #eee;
    font-size: 14px;
    margin: 30px 0;
}

.btn {
    background: #FF4500;
    color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}

/* ----------header part end----------------- */

/* ----------------donate-today section start-----------  */

section {
    margin: 100px 0;
    padding: 0 10%;
}

.donate-today {
    text-align: center;
}

.content {
    text-align: center;
}

.content h3 {
    font-size: 30px;

}

.content p {
    color: rgb(117, 94, 94);
    font-size: 14px;
    margin: 15px 0;
}

.money {
    display: flex;
    justify-content: center;

}

.taka {
    margin: 10px;
    padding: 20px;
    background: #fafafa;
    text-align: center;
}

.taka h3 {
    color: #707070;
}

.active {
    background: #FFEEEE;
    border: 1px solid #FF5959;

}

.active h3 {
    color: #FF5959;
}

.input {
    display: block;
    margin: 20px auto;
    width: 60%;
    text-align: center;
    padding: 8px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    font-size: 15px;
}

.input::placeholder {
    font-size: 15px;
}

/* ----------------donate-today section end-----------  */

/* ----------------donate-plan section start-----------  */

.container {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.box {
    padding: 20px;

}

.box img {
    height: 40px;
}

.box h3 {
    font-size: 16px;
    margin: 15px 0;
}

.box p {
    font-size: 12px;
    color: #666;
}

.box-1 {
    background: #EDF5F6;
}

.box-2 {
    background: #FFEEEE;
}

.box-3 {
    background: #FFF4D6;
}

/* ----------------donate-plan section end-----------  */

/* -------bonous section start---------- */
.contact .icon-container {
    display: flex;
    justify-content: space-around;
}

.contact .icon img {
    height: 70px;
    background: #cd9452;
    color: #FFf;
    padding: 20px;
    border-radius: 50%;
}

.contact .icon {
    text-align: center;
    margin: 40px;
}

.share {
    text-align: center;

}

.share img {
    height: 50px;
    margin: 10px;
}

/* -------bonous section end---------- */

/* -- ----------------update section start----------- -- */

form {
    background: #FFF4D6;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}

form input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    background: #D9D9D9;
}

form #button {
    background: #FF4500;
    color: #FFf;
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

/* -- ----------------update section end----------- -- */


/* ----footer section start------ */

footer {
    background: #000;
    text-align: center;
    padding: 30px;
}

footer h3 {
    color: orange;
}

footer p {
    color: #D9D9D9;
}